app:
    url: http://october.dev
    locale: en

database:
    connection: mysql
    username: homestead
    password: secret
    database: bootstrapper
    host: 192.168.10.10

theme: name (user@remote.git)

deployment: gitlab

plugins:
    - Rainlab.Pages
    - Rainlab.Builder
    - Adrenth.Redirect
    - Bedard.Webhooks
    - Indikator.Backend
    - OFFLINE.SiteSearch
    - OFFLINE.ResponsiveImages
    # - Vendor.Private (user@remote.git)

mail:
    name: User Name
    address: email@example.com
    driver: log
